/* ======================= font links ======================= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300&display=swap');

html {
  background-color: rgb(21, 19, 19);
}
/* ======================= body ======================= */
.info {
  display: flex;
  margin: 6.3125rem auto;
  padding: 12rem;
  padding-left: 19rem;
  font-size: 1.8rem;
  justify-content: space-around;
}
/* ======================= dev pic & info ======================= */
.devpic img {
  width: 32rem;
  position: absolute;
  left: 0.9rem;
  top: 6rem;
}

.devinfo {
  display: 0 flex;
  justify-content: center;
  position: absolute;
  top: 20rem;
  left: 41rem;
}
/* ======================= nav bar ======================= */
.nav{
  position: absolute;
  top: 20px;
  left: 65px;
}
.nav li{
  display: inline-block;
  list-style: none;
  margin: 20px 20px;
  padding: 0 10px;
}
.nav li a{
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
 font-weight: 400;
 font-size: 1.7rem;
 color: white;
}
.nav li a:hover{
  color:red;
  border-radius: 8px;
  transition: 0.2s ease-in;
}
.name {
  font-size: 4rem;
  font-family: 'Lato', sans-serif;
  color: rgb(255, 255, 255);
  padding-left: 0rem;
  position: relative;
  top: -0.5rem;
  left: 1rem;
  letter-spacing: .625rem;
}

.hii {
  color: rgba(209, 209, 209, 1);
  font-size: 3rem;
  font-family: Trebuchet MS;
  position: relative;
  top: -11rem;
  left: 5rem;
  padding: 0.4rem;
  letter-spacing: .25rem;
}
/* ======================= Animation Text ======================= */
.web {
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  font-family: 'Lato', sans-serif;
  top: -3rem;
  left: -8.3rem;
}
.web {
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #000, rgb(255, 255, 255), #000);
  background-repeat: no-repeat;
  opacity: 4rem;
  background-size: 80%;
  letter-spacing: 6px;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}
/* =======================Animation button ======================= */
.button a {
  position: relative;
  top: 13.5rem;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 1.7rem;
  font-family: Trebuchet MS;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 2.5px;
}

.button a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.button a span {
  position: absolute;
  display: block;
}

.button a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.button a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.button a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.button a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}
.name span::selection{
  color:red;
  background-color: #03e9f4;
}

